/** @format */

.tripBtn {
  background-color: #00c9e0 !important;
  box-shadow: 5px 15px 40px #00c9e033 !important;
  border-radius: 83px !important;
  font-family: Larsseit;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 190% !important;
  padding: 8px 40px !important;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
